/* Cart */

.dashboard-cart-type {
    padding-bottom: 20px;
    overflow: hidden;
    padding-top: 7px;
}
.dashboard-cart-type-buttons {
    /* text-align: center; */
}

.dashboard-cart-type-button {
    background: #fff;
    border: 0;
    padding: 7px 17px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
}

.cart-container {
    border-top: 3px solid #000;
    /* padding-top: 20px; */
}

.dashboard-cart-type-button.active {
    background: #000;
    color:#fff;
    position: relative;
}

.dashboard-cart-type-button.active::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.cart-container {
    display: none;
}

.cart-container.active {
    display: block;
}

.dashboard-cart-type-button {
    background: #fff;
    border: 0;
    padding: 7px 17px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
}

.dashboard-cart-type-button .counter {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #fff;
    font-size: 12px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000;
}