
* {
    transition: all .3s ease-in;
}

.section-padding {padding: 30px 0;}

.bg-custom {background-color: #F0F2F5  !important;}

.custom-card {background-color: #ffffff;margin-bottom: 20px !important;}

.custom-border {border-radius: 8px;}

.custom-shadow {box-shadow: 0 1px 2px rgb(0 0 0 / 20%);}

.custom-padding {padding: 15px !important;}

i {
    font-style: normal;
}

/*  Forgot Password  */

.action-div {
    background: #fff;
}

.action-div-logo-inner img {
    width: 70px;
    margin: auto;
    display: block;
}

.form-div {
    background: #F0F2F5;
    min-height: 100vh;
}

.footer-inner {
    background: #f0f2f5;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border-top: 1px solid #dedede;
}

.form-div-main {
    padding: 60px;
    /* box-shadow: rgb(100 100 111 / 10%) 0px 7px 18px 2px; */
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
    /* border: 1px solid #f0f0f0; */
    /* border-radius: 8px; */
    background: #fff;
    margin: 60px 0;
}

.form-field-input {
    box-shadow: 0px 7px 19px #f0f0f0;
    max-width: 100%;
    display: block;
    margin: auto;
    outline: none !important;
    color: #000;
    border-radius: 2px;
}

.form-sub-title {
    margin-bottom: 10px;
}

.form-div-main-upper {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-black-btn {
    padding: 6px 15px;
    background: #000;
    border: 1px solid #000;
    color: #f0f0f0;
    border-radius: 2px;
    transition: all .4s ease-in;
}

.form-div-inner {
    min-height: calc(100vh - 120px);
}

.form-action-button {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Profile */

.form-link {
    color: #626262;
    text-decoration: none;
}

.small-text {
    font-size: 13px;
}

.email-verify-div-inner-title {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
}

.email-verify-div-inner-content {
    margin-bottom: 15px;
}

.email-verify-div-logout {
    text-align: right;
}

.email-verify-div-logout a {
    color: #fff;
    background: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.email-verify-div-logout i {
    margin-right: 5px;
}

.form-field-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.single-field {
    flex: 0 0 100%;
    margin: 0;
    text-align: left;
}

.phone-number-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flage-div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 7px 19px #f0f0f0;
    border-radius: 3px;
    text-align: center;
    padding: 8px;
    border: 1px solid #ced4da;
    margin-right: 10px;
}

.flage-div img {
    margin-right: 5px;
    width: 17px;
}

.flage-div .country-code {
    font-size: 13px;
    color: #626262;
}

.upload-profile-image-div {
    position: relative;
}

.upload-profile-image-div .camera-icon {
    position: absolute;
    bottom: 10px;
    right: 6px;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload-profile-image-div {
    position: relative;
    display: inline-block;
}

.phone-number-field .input {
    flex-grow: 1;
}

/* Profile */

.page-navigation {
    border-bottom: 1px solid #E2E5E6;
    padding: 15px;
}

.page-navigation-inner {
    display: block;
    align-items: center;
    width: 100%;
    border: 0;
}

.user-profile-div-inner {
    padding: 50px 0;
    border-bottom: 1px solid #ebedee;
}

.page-navigation-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-link {
    width: 20%;
    text-align: right;
    font-weight: 500;
    color: #000;
}

.page-navigation-li {
    padding: 0 15px;
    font-size: 14px;
}

.page-navigation {
    border-bottom: 1px solid #E2E5E6;
    padding: 15px 0;
}

.page-navigation-link {
    color: rgb(0 0 0 / 60%);
}

.page-navigation-li.active .page-navigation-link {
    color: #000;
    font-weight: 500;
}

.user-profile-info-inner {
    display: flex;
    align-items: center;
}

.user-profile-info-image img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.user-profile-info-text {
    margin-left: 35px;
}

.user-profile-div-main {
    align-items: center;
    justify-content: space-between;
}

.user-profile-info-action-top-text {
    margin-bottom: 30px;
}

.user-profile-btn-large {
    padding: 15px 30px;
    border-radius: 4px;
    border: 1px solid #000;
    text-underline: none !important;
    text-decoration: none !important;
}

.user-profile-btn-large.white {
    color: #000;
    background: #fff;
}

.user-profile-btn-large.black {
    color: #fff;
    background: #000;
}

.user-profile-about-inner {
    padding: 35px 0;
}

.user-profile-about-text-p {
    padding: 35px 0;
}

.user-profile-about-main {
    display: flex;
    justify-content: space-between;
}

.user-profile-video-container {
    padding: 35px 0;
}

.user-profile-video-container-image img {
    width: 100%;
    object-fit: cover;
    height: 350px;
}

.user-profile-video-controller {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.user-profile-video-controller-inner img {
    width: 60px;
    height: 60px;
}

.user-profile-video-container-inner {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5px;
    overflow: hidden;
}

.user-profile-video-container-image {
    position: relative;
}

/* Effects */

.form-field-input:focus {
    border-color: #000;
    box-shadow: 0px 7px 19px #f0f0f0;
}

.form-link:hover {
    color: #000;
    text-decoration: none;
}

.custom-black-btn:hover {
    border: 1px solid #000;
    background: #fff;
    color: #000;
}

.page-navigation-li:hover .page-navigation-link {
    color: #000;
    text-decoration: none;
}

.user-profile-btn-large.white:hover {
    color: #fff;
    background: #000;
}

.user-profile-btn-large.black:hover {
    color: #000;
    background: #fff;
}

.mobile-menu-btn-image {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #000;
    cursor: pointer;
}

.mobile-menu-btn-image img {
    width: 25px;
}

.mobile-menu-btn {
    display: none;
}


.navigation-in-mobile {
    display: none;
}

.navigation-in-mobile .page-navigation-ul {
    width: 100%;
    margin-top: 20px;
}

.navigation-in-mobile .page-navigation-li {
    padding: 10px 0;
    font-size: 14px;
}

.show-on-mobile {
    display: none;
}


/* Customization */

.iti {
    width: 100%;
}

.video-player {
    border-radius: 4px;
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
    width: 100% !important;
}

.doc-uploader {
    margin: 20px 0;
    width: 100%;
}

.input-radius {
    border-radius: 3px;
}

.doc-uploader-main {
    margin: 10px;
    height: 150px;
}

.uplader-text-main {
    font-weight: 500;
}

.doc-uploader-main {
    border: 1px dashed #dedede;
    position: relative;
    cursor: pointer;
}

.image-uploader {
    min-height: 10rem;
    border: 1px solid #d9d9d9;
    position: relative;
}

.doc-uploader-main .uploader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-box {
    text-align: left !important;
}

.form-box h6 {
    margin: 25px 0;
    position: relative;
    display: inline-block;

}

.form-box h6::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
}

.uploader-text-inner {
    text-align: center;
}

.form-field.has-icon {
    position: relative;
}

.form-field.has-icon .eye-icon {
    position: absolute;
    top: 0px;
    right: 1px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.referrel-link-input-field {
    padding: 8px 15px;
}

.referrel-link-input-inner {
    display: flex;
    align-items: center;
}

.referrel-link-input-field {
    padding: 8px 15px;
    flex-grow: 1;
}

.referrel-link-button {
    border: 0;
    background: #000;
    color: #fff;
    display: flex;
    padding: 10px 25px;
    align-items: center;
}

.referrel-link-button .text {
    margin-right: 10px;
    font-size: 22px;
}

.landing-page-login-box-main-inner {
    margin-top: 40px;
    padding: 0;
}

.landing-page-login-field-label {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
}

.landing-page-login-field-input-single {
    padding: 8px 15px;
    width: 100%;
    margin-bottom: 10px;
}

.landing-page-login-field-forgot {
    margin-bottom: 10px;
    text-align: right;
}

a.landing-page-login-field-forgot-link {
    color: #000;
    text-decoration: none;
}

.landing-page-login-field-button button {
    padding: 10px 25px;
    border: 0;
    background: #000;
    color: #fff;
    width: 100%;
    border-radius: 3px;
}

.site-landing-page-top-image img {
    width: 400px;
    display: block;
    margin: auto;
}

.site-landing-page-top-div {
    min-height: 450px;
}

.site-landing-page-top-div {
    min-height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}

.site-landing-page-top-list-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-landing-page-main {
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.connect-social-video-container {
    position: absolute;
    width: 100%;
    bottom: -200px;
}

.site-landing-page-top-logo-image img {
    width: 400px;
    margin: auto;
    display: block;
}

.site-landing-page-top-logo-image {
    background: #fff;
}

.site-landing-page-main-content-main {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-landing-page-main-content-main .row {
    width: 100%;
}

input.referral-input-card-field {
    padding: 8px 15px;
    width: 100%;
    border-color: #000;
    padding-right: 100px;
}

.site-landing-page-main-content-referral-input-card-main .signup-button {
    position: absolute;
    top: 0;
    right: 0;
}

.signup-button button {
    color: #fff;
    background: #000;
    border: 0;
    padding: 10px 20px;
}

.site-landing-page-main-content-referral-input-card-main {
    position: relative;
}

.site-landing-page-main-content-text-top {
    font-size: 2.5em;
    color: #fff;
    font-weight: 500;
}

.site-landing-page-main-content-text-bottom {
    color: #fff;
    font-size: 1.5em;
}

.site-landing-page-main-content-referral-input-bottom.multi {
    font-size: 13px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.site-landing-page-main-content-referral-input-bottom a {
    color: #000;
    font-weight: bold;
}

.site-landing-page-main-content-referral-input-card-main label {
    font-weight: bold;
}

.connect-social-coin-image img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: auto;
    animation: PreLoader 3s;
    animation-iteration-count: infinite;
}


.connect-social-coin-outer-top-text {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 25px;
}

.site-landing-page-main-content-inner.login-card {
    display: none;
}

/* .referrel-card {
    animation: FlipAnimation 3s;
} */

@keyframes FlipAnimation {
    0% {transform: rotateY(0deg);}
    25% {transform: rotateY(45deg);}
    50% {transform: rotateY(90deg);}
    75% {opacity: 0;transform: rotateY(45deg);}
    100% {transform: rotateY(0deg);}
    /* 75% {transform: rotateY(270deg);} */
    /* 100% {transform: rotateY(360deg);} */
}
/* .form-box h6.to-short::before {
    width: 160px;
} */

/* Responsive */

@media only screen and (max-width: 1220px) {
    .page-navigation-ul {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    button.user-profile-btn-large {
        margin: 10px 0;
        width: 100%;
    }

    .user-profile-video-container {
        padding:0;
    }
}

@media only screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }
    .mobile-site-logo {
        display: block;
        width: 60%;
        margin: 0 auto;
    }

    .user-profile-btn-large.white {
        margin: 0 !important;
        margin-top: 15px !important;
        display: block;
    }

    .page-navigation-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-profile-info-action-inner.text-center {
        margin-top: 50px;
    }

    .page-navigation-ul {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    .page-navigation-inner {
        justify-content: space-between;
    }

    .page-navigation-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .user-profile-info-inner {
        justify-content: center;
    }

    .custom-padding-mobile {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .form-field-grid {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items : unset;
    }
}

@media only screen and (max-width: 480px) {
    .form-div-main {
        padding: 50px 15px;
    }
}

