
/* Error */

.form-errors-div-single {
    display: block;
    position: relative;
    min-width: 280px;
    min-height: 60px;
}

.form-errors-div {
    position: fixed;
    right: 20px;
    top: 20vh;
    overflow: hidden;
    z-index: 9999;
    max-height: 80vh;
    overflow-y: auto;
}

.form-errors-div-single-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-errors-div-dismiss {
    margin-left: 15px;
    font-size: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.form-errors-div-icon {
    margin-right: 10px;
}

.form-errors-div-text {
    font-size: 12px;
    flex-grow: 1;
}

.form-error-div-single-main {
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px;
    color: #fff;
    position:absolute;
    transition: 1s;
    right: -250px;
    opacity: 0;
    min-width: 280px;
    top: 0;
    overflow: hidden;
}

.error-animation {
    display: block;
    transition: 1s;
    right: 0;
    opacity: 1;
    animation: errorLoading 1.2s ease-in-out;
    /* position: unset; */

}

.form-errors-div-single-inner.custom {
    display: flex;
    align-items: flex-start;
}

.iAlert-error {
    background: #ff8383;
    box-shadow: 0 2px 4px #ffc2c2, 0 8px 16px #ffc2c21a;
}

.iAlert-error  .iAlert-dismiss{
    background: #ffc2c2;
}

.iAlert-success {
    background: #599e54;
    box-shadow: 0 2px 4px #84b372, 0 8px 16px #84b3721a;
}

.iAlert-success  .iAlert-dismiss{
    background: #84b372;
}

.iAlert-dismiss {
    cursor: pointer;
}

.form-errors-div-text .action-btn {
    border: 0;
    margin-top: 5px;
    border-radius: 3px;
    padding: 4px 8px;
    color: #fff;
    background: #84b372;
}

@keyframes errorLoading {
    100% {position: unset !important;}
}