

* {
    transition: all .3s ease-in-out;
}

.login-screen-sides-inner {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    flex: 0 0 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.login-image {
    flex: 0 0 50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.login-form-image-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-image-inner img {
    width: 100px;
    background: #fff;
    height: 100px;
    border-radius: 50%;
}

.d-custom-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 10px 0;
}

.login-image-main img {
    width: 300px;
}

.login-form-image-inner.multi {
    position: absolute;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
}

.landing-page-content img {
    height: 80px;
    margin-top: -32px;
}

.login-form-image {
    margin-bottom: 20px;
}

.login-form-outer {
    width: 80%;
    padding: 40px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.login-image-main img {
    margin-bottom: 20px !important;
    width: 23%;
    display: block;
    margin: auto;
}

.login-image-inner {
    width: 100%;
    text-align: center;
}

.login-form-image {
    margin-bottom: 30px;
    position: relative;
}

.login-form-box-title {
    margin-bottom: -10px;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

.login-form-box--bottom-title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.login-form-field-single {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-form-field-single label {
    font-size: 20px;
    font-weight: 500;
}

.login-form-field-single input {
    padding: 8px 15px;
}

.forgot-password-link a {
    color: #000;
    text-decoration: none;
}

.forgot-password-link {
    margin-bottom: 15px;
    text-align: right;
}

.login-button button {
    background: #000;
    width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.login-screen-sides-outer {
    background: #F0F2F5;
}

/* Effects */

.forgot-password-link a:hover {
    color: #000;
    text-decoration: none;
}

.login-button button:hover {
    background: #fff;
    color: #000;
}

.login-landing-page-button a {
    width: 100%;
    display: block;
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
}

.login-form-field-single.has-icon {
    position: relative;
}

.login-form-field-single.has-icon .eye-icon {
    position: absolute;
    top: 40px;
    right: 1px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-landing-page-inner {
    font-size: 25px;
    text-align: center;
}

.login-landing-page-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.login-landing-page-button {
    width: 49%;
    text-align: center;
}

.site-landing-page {
    background: #F0F2F5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.site-landing-page-inner {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px;
    justify-content: space-between;
    padding-bottom: 80px;
}

.landing-page-content {
    font-size: 1.4em;
    text-align: center;
    color: #000;
    text-shadow: unset;
}

.landing-page-bottom-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing-page-bottom-buttons-align {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-landing-page-top-bottom {
    width: 100%;
}

.landing-page-site-logo img {
    width: 150px;
}

.landing-page-bottom-button a {
    width: 100%;
    display: block;
    background: #ffffff4d;
    color: #000;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    letter-spacing: 1px;
}

.landing-page-bottom-button {
    width: 49%;
    text-align: center;
}

/* New Landing */

/* .site-landing-page-top {
    max-height: 150px;
} */

.site-landing-page-top-logo img {
    width: 150px;
    height: 152px;
    object-fit: cover;
    background: #fff;
    border-radius: 50%;
}

.site-landing-page-top-logo {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
}

/* .site-landing-page-top {
    height: 30vh;
    position: relative;
    background: #f0f2f5;
} */

.site-landing-page-top {
    height: 30vh;
    position: relative;
    background: #f0f2f5;
}

.site-landing-page-content {
    height: 70vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 70px 20px;
}

.site-landing-page-top-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.landing-page-button-link.invert {
    background: #e8c754;
    color: #000;
    border-color: #e8c754;
}
.navbar-brands{
    display: flex;
    align-items: center;
    width: 4%;
}

.np-logo-img{
    width: 100%;
}
/* Responsive */

@media only screen and (max-width: 1000px) {
    .login-image {
        display: none;
    }
    .login-form {
        flex: 0 0 100%;
    }
}

@media only screen and (max-width: 700px) {
    .login-image {
        display: none;
    }
    .login-form {
        flex: 0 0 100%;
    }

    .login-form-outer {
        width: 80%;
    }
}

@media only screen and (max-width: 570px) {

    .login-form-outer {
        width: 90%;
    }

    .login-form-outer {
        padding: 15px;
    }
    .navbar-brands {
        margin-left: 21px !important;
    }
    .navbar-toggler-icon {
        margin-right: 19px !important;
    }
}
