/* All */

.main-slider-shop-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.shop-page-section-title {
    padding: 15px 0;
    margin: 15px 0;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
}

.shop-page-wrapper {
    background: #f0f2f5;
    min-height: 100vh;
    margin-bottom: -20px;
    padding-bottom: 80px;
}

.all-category-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -15px;
}

.all-category-col {
    padding: 15px;
    width: 33%;
}

.sigle-category {
    overflow: hidden;
}

.sigle-category a {
    color: #000;
    text-decoration: none;
}

.sigle-category a:hover {
    /* color: #fff;
    background-color: #000; */
}

.sigle-category-text:hover {
    color: #fff;
    background: #000;
}

.sigle-category:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    /* background-color: #000; */
}

.sigle-category-text {
    display: flex;
    justify-content: space-between;
}

.related-category-grid-inner {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.related-category-col {
    padding: 15px;
    width: 25%;
}

.related-category-col-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    display: block;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.related-category-col-image {
    padding: 15px 0;
}

.related-category-col-text {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #dedede;
}

.related-category-col-inner:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.sigle-category-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.merchant-ads-container-shop-grid {
    display: flex;
    /* margin: 0 -15px; */
}

.merchant-ads-container-shop-secandary-col {
    width: 50%;
    /* padding: 15px; */
}

.merchant-ads-container-shop-main-col {
    flex-grow: 1;
    height: 300px;
}

.merchant-ads-secandary-col-inner-ads {
    display: flex;
    flex-direction: column;
    /* margin: -15px 0; */
    height: 100%;
}

.merchant-ads-secandary-col-inner-single-ad {
    /* padding: 15px 0; */
}


.merchant-ads-secandary-col-inner-ads {
    display: flex;
    flex-direction: column;
    /* margin: -15px 0; */
    height: 100%;
    justify-content: space-between;
}

.merchant-ads-container-shop-main-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.merchant-ads-secandary-grid {
    display: flex;
    justify-content: space-between;
}

.merchant-ads-secandary-col {
    padding: 0 15px;
}

.merchant-ads-secandary-grid {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.merchant-ads-secandary-col-inner {
    height: 100%;
    /* margin: 0 -15px; */
    /* margin-left: 15px; */
}

.merchant-ads-secandary-col-inner img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.merchant-ads-secandary-col.grows {
    flex-grow: 1;
    padding-left: 0;
    padding: 0;
}

.merchant-ads-secandary-col-inner-single-ad img {
    width: 100%;
    height: 140px;
}

.merchant-ads-container-shop img {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.add-text-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px #ffc10724, 0 8px 16px #ffc1073b;
}

.merchant-profile-top-banner-cover-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.merchant-profile-top-banner-main {
    position: relative;
}

.merchant-profile-top-banner-info {
    position: absolute;
    width: 100%;
    bottom: -150px;
    left: 0;
}

.merchant-profile-top-banner-info-main {
    display: flex;
    align-items: flex-end;
}

.merchant-profile-info {
    margin-bottom: 50px;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
}

.merchant-profile-star {
    font-size: 1.5em;
    margin-left: 15px;
}

.merchant-profile-info-name {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 15px;
}

.merchant-profile-info-store-link a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.merchant-profile-image img {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #f0f2f5;
}

.merchant-profile-top-banner {
    margin-bottom: 200px;
}

.shop-page-section-title.multi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-all-link-merchant a {
    display: flex;
    padding: 7px 15px;
    border-radius: 4px;
    background: #dee2e6;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    color: #000;
    position: relative;
    text-decoration: none;
}

.see-all-link-merchant a:hover {
    background: #000;
    color: #fff;
}

.related-media-grid {
    margin: 0 -15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}


.related-media-col {
    width: 33%;
    padding: 15px;
}

.related-media-col-type img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.video-icon-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-icon-overlay-main {
    height: 50px;
    width: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.related-media-col-type.video {
    position: relative;
}

.product-filter-merchant {
    margin: 30px 0;
}

.product-filter-merchant-options {
    display: flex;
    justify-content: space-evenly;
}

a.product-filter-merchant-option-link {
    color: #000;
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    cursor: pointer;
    text-decoration: none;
}

.merchant-profile-product-grid-main {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.merchant-profile-product-grid {
    /* margin-top: 50px; */
}

.merchant-profile-product-col {
    width: 25%;
    padding: 15px;
}

.merchant-profile-product-col-inner {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    background: #fff;
    overflow: hidden;
}

.merchant-profile-product-col-image {
    position: relative;
}

.merchant-profile-product-col-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.merchant-profile-product-col-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0808083b;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.merchant-profile-product-col-button-div-icon {
    display: flex;
    padding: 4px 8px;
    margin: 5px 0;
    background: #fff;
    border-radius: 4px;
    justify-content: center;
    cursor: pointer;
}

.merchant-profile-product-col-button-div-icon .icon {
    margin-right: 15px;
}

.merchant-profile-product-col-detail {
    padding: 15px;
    border-bottom: 1px solid #dedede;
}

.merchant-profile-product-col-name {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 15px;
}

.merchant-profile-product-col-review-stars {
    color: #ffc107;
    margin-bottom: 5px;
}

.merchant-profile-product-col-price-inner {
    text-align: center;
    padding: 15px;
    /* background: #cbcaca; */
    color: #555;
    font-size: 1em;
}

.merchant-profile-product-col-image:hover .merchant-profile-product-col-button {
    display: flex;
}

.all-category-grid.top-categories .all-category-col {
    padding: 15px;
    width: 33%;
}

.all-category-grid.top-categories .sigle-category-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Products */

.page-navigation-beardcrumb {
    margin: 20px 0;
}

.page-navigation-beardcrumb-main {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
}

.page-navigation-beardcrumb-main .arrow {
    font-size: 15px;
    margin: 0 15px;
    color: #9d9d9d;
}

.page-navigation-beardcrumb-main .child {
    color: #9d9d9d;
}

.shop-products-filter {
    min-width: 300px;
    margin-right: 20px;
    max-width: 300px;
}

.shop-products-filter-card-top-bar {
    padding: 15px;
    border-bottom: 1px solid #dedede;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.shop-products-filter-card-top-bar .title{
    font-weight: 500;
}

.shop-products-filter-option {
    padding: 9px 15px;
}

.shop-products-filter-option label {
    cursor: pointer;
}

.shop-product-filter-sizes-grid {
    /* margin: 0 -15px; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.shop-product-filter-sizes-col {
    padding: 5px;
    width: 25%;
}

.shop-product-filter-sizes-cool-inner {
    margin: 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-product-filter-sizes-cool-inner:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.shop-product-filter-sizes-cool-inner .color {
    width: 80%;
    height: 80%;
}

.price-range-filter-inner {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-range-field {
    width: 49%;
}

.price-range-field-input {
    width: 100%;
    padding: 4px 8px;
}

.shop-products-filter-option .star {
    color: #f3b600;
}

.shop-products-filter-card-content {
    display: none;
}

.shop-products-div-main {
    display: flex;
}

.shop-products-list-grid-inner {
    margin: 0 -15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.shop-products-list-col {
    flex: 0 0 33%;
    padding: 15px;
}

.shop-products-list-title {
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 1.3em;
    font-weight: 500;
}

.shop-products-list-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.products-list-top-bar-sort-current {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 70px;
    padding: 5px;
    background: #d2d8e0;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    font-weight: 500;
}

.shop-products-list-top-bar-sort {
    position: relative;
}

.products-list-top-bar-sort-ul {
    position: absolute;
    top: 20px;
    z-index: 1;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: none;
}

.products-list-top-bar-sort-li {
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.shop-products-list-top-bar-sort:hover .products-list-top-bar-sort-ul {
    display: block;
}

.top-seller-badge {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 5px;
    font-size: 12px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px #ffc10724, 0 8px 16px #ffc1073b;
}

.shop-product-list-pagination {
    margin: 15px 0;
}

.shop-product-list-pagination-inner {
    display: flex;
    justify-content: flex-end;
}

.shop-product-list-pagination-ul {
    display: flex;
    align-items: center;
}

.shop-product-list-pagination-li {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dee2e6;
    border-radius: 4px;
    margin-left: 15px;
    cursor: pointer;
}

.shop-product-list-pagination-li:hover {
    background: #000;
    color: #fff;
}

/* Single Product */

.single-product-detail-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-product-detail-image {
    flex: 0 0 50%;
    width: 50%;
    padding-right: 20px;
}

.single-product-detail-main-image-view img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.single-product-detail {
    padding-top: 50px;
}

.single-product-detail-image-slider {
    margin: 20px 0;
}

.single-product-detail-image-slider-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-product-detail-image-slider-main {
    margin: 0 15px;
    flex-grow: 1;
}

.single-product-detail-image-slider-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single-product-detail-image-slide {
    margin: 15px;
    width: 100%;
}

.single-product-detail-image-slide img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.single-product-detail-image-slider-controller-arrow {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dee2e6;
    color: #000;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

.single-product-detail-title {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0px;
}

.single-product-detail-store-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
}

.single-product-detail-content {
    width: 50%;
}

.single-product-detail-store-link-text {
    font-weight: 500;
}

.single-product-detail-store-link-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.single-product-detail-store-link-div a {
    color: #007bff;
}

.single-product-detail-store-status {
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 2px;
}

.single-product-detail-store-status.open {
    color: #fff;
    background: #20c997;
}

.single-product-detail-store-status.close {
    color: #fff;
    background: #df0130;
}

.single-product-detail-store-review-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-product-detail-store-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-product-detail-store-review-stars {
    color: #ffc107;
    margin-right: 50px;
}

.single-product-detail-store-price.multi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-product-detail-store-price {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-weight: 500;
}

.single-product-detail-store-price .befor {
    color: #dc3545;
}

.single-product-detail-store-options-qty {
    display: flex;
    align-items: center;
}

.single-product-detail-store-options-qty-opt {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #dee2e6;
    cursor: pointer;
}

.single-product-detail-store-options-input {
    padding: 0;
    border: 1px solid #000;
    outline: none;
    width: 50px;
    height: 30px;
    margin: 0 15px;
    text-align: center;
}

.add-to-cart-btn-product {
    margin: 0 15px;
    flex-grow: 1;
}

.single-product-detail-store-options.multi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-to-cart-btn-product button {
    padding: 5px 10px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    display: block;
    margin: auto;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-faviorat-btn-product button {
    padding: 5px 10px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    display: block;
    margin: auto;
    border-radius: 4px;
    cursor: pointer;
}

.single-product-detail-store-collapse-all {
    margin-top: 20px;
}

.collapse-single-top-bar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dedede;
}

.collapse-single-top-bar-text {
    display: flex;
    align-items: center;
}

.collapse-single-top-bar-text-icon {
    margin-right: 15px;
    font-size: 20px;
}

/* Product Search */

.product-search-by-section-inner {
    display: flex;
}

.product-search-by-section-main {
    width: 300px;
    padding-right: 20px;
    flex: 0 0 300px;
}

.product-search-by-products {
    flex-grow: 1;
}

.product-search-by-products-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -15px;
}

.product-search-by-products-col {
    padding: 15px;
    width: 33.33%;
}

.product-search-by-filter-card-title {
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.product-search-by-filter-label {
    display: flex;
    align-items: center;
}

.product-search-by-filter-label input {
    margin-right: 5px;
}

.product-search-by-filter-card-title.multi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-search-by-filter-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.product-search-by-price-range-opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-range-input {
    width: 100%;
}

.product-search-by-price-range-single {
    width: 49%;
}

/* Favourite Merchant */

.favourite-merchant-col {
    width: 25%;
    padding: 15px;
    flex: 0 0 25%;
}

.favourite-merchant-grid {
    margin: -15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.favourite-merchant-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.favourite-merchant-title .text {
    font-weight: 500;
    margin-bottom: -6px;
}

.favourite-merchant-category {
    font-size: 14px;
}

.favourite-merchant-detail {
    padding: 0 15px;
    font-size: 12px;
    padding-bottom: 15px;
    word-break: break-all;
}

.favourite-merchant-bottom-options {
    border-top: 1px solid #dedede;
}

.favourite-merchant-bottom-options {
    border-top: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favourite-merchant-col-inner {
    overflow: hidden;
}


/* Responsive */

@media only screen and (max-width: 990px) {
    .merchant-ads-container-shop-grid {
        flex-direction: column;
    }
    
    .merchant-ads-container-shop-secandary-col {
        width: 100%;
        padding-top: 30px;
    }

    .merchant-ads-secandary-col {
        padding: 0;
    }

    .merchant-ads-secandary-col.grows {
        padding-left: 30px;
    }

    .single-product-detail-image-slider-main {
        margin: 0;
    }
}
@media only screen and (max-width: 768px) {
    .main-slider-shop-image img {
        height: 300px;
    }
    .all-category-col {
        width: 50%;
    }

    .related-category-col-image img {
        width: 50px;
        height: 50px;
    }

    .single-product-detail-image {
        flex: 0 0 100%;
        width: 100%;
        padding-right: 0;
    }

    .single-product-detail-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .main-slider-shop-image img {
        height: 300px;
    }
    .all-category-col {
        width: 100%;
    }

    .related-category-col-text {
        padding: 5px;
        font-size: 12px;
    }

    .related-category-col {
        width: 50%;
    }
}