.hover-icon {
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hover-icon:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: #fff;
}

.no-t-border {
    border-top: 0 !important;
}

.pointer {
    cursor: pointer;
}

.sleek-scroller {

}

.sleek-scroller::-webkit-scrollbar {
    width: 5px;
}

.sleek-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #fff;
}

.sleek-scroller::-webkit-scrollbar-thumb {
    background-color: #dedede;
    outline: 1px solid slategrey;
    background: #555;
}