/* Wallet CSS */

.clasic-shadow {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.wallet-section-grid {
    display: flex;
    justify-content: space-between;
}

.wallet-earning-col {
    flex-grow: 1;
}

.wallet-earning-filter {
    width: 200px;
}

.wallet-earning-top-bar {
    padding: 15px 0;
    /* border-bottom: 1px solid #dedede; */
    /* margin-bottom: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-earning-top-bar-title {
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
}

.wallet-earning-stats-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wallet-earning-stats-main-box {
    width: 49%;
    min-height: 200px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.wallet-earning-stats {
    /* margin: 30px 0; */
    margin-bottom: 0;
}

.connect-coins-icon img {
    width: 25px;
}

.wallet-earning-stats-box-title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    /* margin-bottom: 15px; */
    padding: 15px;
}

.wallet-earning-stats-box-value-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wallet-earning-stats-main-box.custom-card {
    margin: 0;
}

.wallet-earning-stats-box-value {
    margin-bottom: 15px;
    padding: 0 15px;
}

.wallet-earning-stats-coin img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.wallet-earning-stats-value-top-text {
    font-size: 18px;
    /* font-weight: 500; */
    text-align: center;
}

/* #wallet-stats_filter {
    display: flex;
    justify-content: flex-end;
}

#wallet-stats_filter label {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#wallet-stats_length {
    display: flex;
    justify-content: flex-end;
}

#wallet-stats_length label {
    display: flex;
    flex-direction: row;
    width: 50%;
} */

.wallet-earning-stats-value-text-value {
    /* text-align: center; */
    font-size: 45px;
    font-family: 'Roboto Slab', serif;
}

.connect-coins-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connect-coins-coins {
    display: flex;
    align-items: center;
}

.connect-coins-icon {
    margin-right: 15px;
}

.connect-coin-text {
    font-weight: 500;
}

.wallet-earning-filter-text {
    font-size: 20px;
    margin-bottom: 15px;
}

.wallet-earning-filter-single-input {
    margin-bottom: 0px;
}

.wallet-earning-filter-single-input input {
    width: 100%;
    border: 1px solid #dede;
    padding: 5px 10px;
}

.wallet-earning-filter-inputs {
    margin-bottom: 15px;
}

.wallet-earning-filter-single-input label {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.wallet-earning-filter-single-input label input{
    width: 10px;
    margin-right: 15px;
}

.wallet-earning-filter-single-input label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 !important;
}

.wallet-earning-stats-box-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connect-coins {
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid #dedede;
}

.wallet-screen-section-inner {
    margin-bottom: 20px;
}

.table thead th {
    border-bottom: 1px solid #dedede !important;
}

.wallet-stats-table-title {
    font-size: 1.2em;
    padding-bottom: 15px;
    /* margin-bottom: 15px; */
    /* border-bottom: 1px solid #dedede; */
    font-weight: 500;
}

.wallet-stats-table-main {
    /* margin: 30px 0; */
}

.wallet-stats-graph-all-graphs {
    display: flex;
    justify-content: space-between;
}

.wallet-stats-graph-single {
    width: 49%;
}

canvas#ambassador-canvas {
    width: 300px !important;
    height: 300px !important;
}

canvas#merchant-canvas {
    width: 300px !important;
    height: 300px !important;
}

.wallet-stats-graph-inner {
    padding-bottom: 15px;
}

.stats-graph {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.stats-graph-title {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
}

.wallet-stats-graph-title {
    font-size: 1.2em;
    padding: 15px 0;
    /* margin-bottom: 15px; */
    /* border-bottom: 1px solid #dedede; */
    font-weight: 500;
}

.credit {
    font-weight: 500;
}

.debit {
    font-weight: 500;
    color: #28a745;
}

.wallet-stats-graph-single-inner {
    margin: 15px 0;
}

.wallet-stats-graph-list-title {
    background: #fff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 1px solid #dedede;
}

.wallet-stats-graph-list-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-stats-graph-list-li {
    width: 50%;
    text-align: center;
    background: #fff;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
}

.wallet-stats-graph-list-li.active {
    border-bottom: 2px solid #000;
}

.wallet-stats-graph-list-ul {
    border-bottom: 1px solid #dedede;
}

.wallet-stats-graph-list-li:hover {
    background-color: #fafafa;
    border-bottom: 2px solid #fafafa;
}

.wallet-stats-graph-list-li.active:hover {
    background-color: #fafafa;
    border-bottom: 2px solid #000;
}

.wallet-stats-graph-list-title .text {
    font-size: 20px;
}

.custom-padding {
    padding: 15px !important;
}

.wallet-stats-graph-list-boxed-li-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.wallet-stats-graph-list {
    overflow: hidden;
}

.wallet-stats-graph-main {
    /* margin-top: 40px; */
}

.ambassodar-pop-out {
    display: none;
}

.wallet-stats-graph-list-boxed-li {
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.wallet-stats-graph-list-boxed-li:hover {
    background-color: #f7f7f7;
}

.wallet-stats-graph-list-boxed-li-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wallet-stats-graph-list-boxed-li-name {
    flex-grow: 1;
    padding-left: 15px;
}

.ambassodar-pop-out-image img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.ambassodar-pop-out {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 2;
    min-width: 200px;
}

.wallet-stats-graph-list-boxed-li-info {
    position: relative;
}

.ambassodar-pop-out-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.ambassodar-pop-out-image {
    margin-right: 15px;
}

.ambassodar-pop-out-image img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.ambassodar-pop-out-detail-row {
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.ambassodar-pop-out-detail-row .heading {
    font-weight: 500;
    margin-right: 5px;
}

.ambassodar-pop-out-name-text {
    font-weight: 500;
}

.ambassodar-pop-out-name {
    font-size: 15px;
}

.wallet-stats-graph-list-boxed-inner {
    height: 284px;
    overflow: hidden;
    overflow-y: auto;
}

.wallet-earning-stats-box-title .block-text {
    display: inline-block;
    font-size: 21px;
    border-top: 2px solid #000;
    margin-top: 15px;
    /* width: 40%; */
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
}

.wallet-earning-top-bar-title-text {
    display: flex;
    align-items: center;
}

.wallet-earning-top-bar-title-text .text {
    margin-right: 5px;
}

.filter-icon {
    font-size: 13px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 4px;
}

.hover-shadow:hover ,.hover-shadow:focus {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    cursor: pointer;
    background-color: #fff;
}

.wallet-earning-filter-inner {
    font-size: 12px;
}

.filter-icon:focus .filter-dropdown {
    display: block;
}

.filter-dropdown {
    position: absolute;
    display: none;
    top: 40px;
    left: 0;
}

.text-badge {
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 50px;
    margin-left: 5px;
    display: inline-block;
}

/* Dashboard */

.wallet-dashboad {
    background: #f0f2f5;
    padding: 15px 0;
    min-height: calc(100vh);
}

.dashboard-sides {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dashboard-side-bar {
    flex: 0 0 30%;
    /* margin-right: 20px; */
}

.dashboard-content-main {
    flex-grow: 1;
}

.dahboard-title {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.dahboard-card-title-bar {
    border-bottom: 1px solid #dedede;
    font-weight: 500;
}

.dahboard-card-title-bar .statics {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.dahboard-card-title-bar.multi {
    display: flex;
}

.dahboard-card-title-bar .statics .up, .dahboard-card-title-bar .statics .down {
    display: flex;
    margin-left: 15px;
}

.statics .up .icon {
    color: #28a745;
}

.statics .down .icon {
    color: #dc3545;
}

.number-text {
    font-family: 'Roboto Slab', serif;
}

.gold-text {
    color: #503f1f;
    font-size: 1.5em;
}

.gold-text, .black-text {
    font-size: 1.5em;
}

.dasboard-card-grid {
    display: flex;
    justify-content: space-between;
}

.dasboard-card-col-image {
    background: #000;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
}

.dasboard-card-col {
    flex: 0 0 30%;
}

.dasboard-card-col-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.dasboard-card-col-text {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}

.debit-text {
    color: #28a745;
}

a.dashboard-card-link {
    color: #000;
    text-decoration: none;
}

.dahboard-title {
    font-size: 1.2em;
    margin-bottom: 0x;
    padding-bottom: 0;
    border-bottom: 0;
    font-weight: 500;
} 

.custom-width-50 {
    width: 49%;
}

.custom-flex-01 {
    display: flex;
    justify-content: space-between;
}

.wallet-screen-section {
    background: #f0f2f5;
}

/* Payment Method */

.dashboard-card-add-card-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.add-card-html {
    margin: 0 30px;
}

.add-card-html-top-bar {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #dedede;
    justify-content: space-between;
}

.card-field-single {
    padding: 15px;
}

.card-field-single-row {
    display: flex;
    justify-content: space-between;
}

.card-single-field {
    position: relative;
}

.card-single-field label {
    position: absolute;
    top: 17px;
    left: 11px;
    background: #fff;
    padding: 0 10px;
}

.card-field-input {
    border: 1px solid #dedede;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    padding-right: 50px;
}

.card-single-field {
    position: relative;
    width: 100%;
}

.add-card-html {
    margin: 0 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
}

.card-single-field .icon {
    position: absolute;
    right: 0;
    padding: 15px;
    top: 25px;
}

.beadcrumb {
    color: #7a7a7a;
    font-size: 1em;
}

.dahboard-title.multi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-button-span {
    display: flex;
    padding: 7px 15px;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    position: relative;
}

.add-button-span .count {
    position: absolute;
    top: -8px;
    right: -11px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #fff !important;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}

.add-button-main a {
    color: unset;
    text-decoration: none;
}

.add-button-span:hover {
    background: #000;
    color: #fff;
}

.add-button-span:hover .count{
    color: #000;
}

.add-button-span .icon {
    font-size: 14px;
    margin-right: 8px;
}

.add-card-options-li {
    cursor: pointer;
}

.existing-card-grid-inner {
    display: flex;
    flex-wrap: wrap;
}

.existing-card-col {
    width: 100%;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
}

.existing-card-col-inner {
    width: 100%;
}

.add-card-html-top-bar.end {
    display: flex;
    justify-content: flex-end;
}

.add-card-div {
    display: none;
}

.add-card-action {
    width: 40%;
}

.add-card-html {
    margin: 0 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    /* margin-bottom: 20px; */
    flex-grow: 1;
}

.add-card-toptext-title .text {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 15px;
}

.all-cards-grid {
    display: flex;
}

.single-card-icon {
    margin-right: 15px;
}

.single-card-icon img {
    height: 30px;
}

.add-card-toptext-title {
    margin-bottom: 20px;
}

.add-card-bottom-text .text {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 15px;
}

.label-flex {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.black-button.no-border {
    border-radius: 4px;
    min-width: 100px;
    margin-top: 15px;
}

.label-flex .text {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-left: 15px;
}

.pera p, .agree p {
    font-size: 14px;
}

.existing-card-list-li-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.existing-card-list-li-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.existing-card-image img {
    margin-right: 15px;
    width: 40px;
}

.existing-card-text {
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1;
}

.prefered-card-inner {
    background: #d3d3d3;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
}

.existing-card-action-main {
    display: flex;
}

.existing-card-action-button {
    margin-left: 15px;
    height: 40px;
    width: 40px;
    display: flex;
    font-size: 23px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.existing-card-action-button:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.existing-card-list-li .add-card-html {
    margin-top: 50px;
    display: none;
    margin-bottom: 50px;
}

.existing-card-list-li {
    border-bottom: 1px solid #dedede;
}

.card-type img {
    height: 40px;
    border-radius: 3px;
}

/* Coin Purchase */

.coin-packs-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.coin-packs-card {
    width: 30%;
    overflow: hidden;
    margin-right: 3%;
}

.coin-pack-card-cart-btn-inner a {
    background: #000;
    color: #fff;
    width: 100%;
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid #dedede;
}

.coin-pack-card-cart-btn-inner a:hover {
    background: #fff;
    color: #000;
}

.coin-pack-card-inner {
    padding: 15px;
    text-align: center;
}

.coin-packs-card .dahboard-card-title-bar {
    font-size: 1.5em;
}

.coin-pack-card-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.coin-pack-card-coins {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 500;
}

.coin-pack-card-coin-value {
    font-size: 30px;
    font-weight: 500;
}

.coin-pack-card-coin-value .dolar {
    font-size: 20px;
}

/* Cart */

.cart-table-list-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-table-list-coin-image img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.cart-table-list-coins {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

.cart-table-list-package {
    flex-grow: 1;
    margin: 0 30px;
}

.cart-table-list-package-name {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 15px;
}

.cart-table-list-package-quantity {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.cart-table-list-package-amount {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.cart-table-list-package-quantity .text, .cart-table-list-package-amount .text {
    font-weight: 500;
    margin-right: 15px;
}

.cart-table-list-package-quantity .quantity-input {
    border: 0;
    width: 40px;
    text-align: center;
    height: 30px;
    padding: 0;
    outline: none;
    margin: 0 10px;
    font-size: 18px;
}

.cart-table-list-package-quantity .control-button {
    background: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}

.cart-table-list-package-quantity .control-controlers {
    display: flex;
    align-items: center;
}

.cart-item-action-inner {
    /* width: 40px;
    height: 40px; */
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.cart-item-action-inner .icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-action-inner:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.cart-container-inner {
    display: flex;
}

.cart-order-outer {
    width: 350px;
    margin-left: 30px;
}

.cart-container-main {
    flex-grow: 1;
}

.cart-table-list-package-amount .amount {
    font-size: 19px;
    font-weight: 700;
}

.cart-order-card-title {
    padding: 15px;
    border-bottom: 1px solid #dedede;
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;
}

.cart-order-card-content {
    padding: 15px;
}

.cart-order-card-action {
    padding: 15px;
}   

.cart-order-card-items-li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-order-card-item-name {
    font-size: 18px;
    font-weight: 500;
    width: 100px;
    display: block;
}

.cart-order-card-item-qty {
    width: 50px;
    text-align: center;
}

.cart-order-card-items-li.total-row {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.cart-order-card-action-inner button {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-order-payment-option {
    border: 1px solid #dedede;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.all-exsiting-cards .existing-card-list-li {
    border-radius: 4px;
    border: 1px solid #dedede;
    padding: 10px;
    margin-bottom: 15px;
}

.all-exsiting-cards .existing-card-list-li:hover {
    background-color: #efefef;
    cursor: pointer;
}

.cart-order-payment-option:hover {
    background-color: #efefef;
    cursor: pointer;
}

.all-exsiting-cards .existing-card-list-li-inner {
    padding: 0;
}

.cart-order-card-action-inner button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.cart-order-new-card-inner .card-field-single {
    padding: 0;
}

.cart-order-card-title.multi {
    display: flex;
    justify-content: space-between;
}

.cart-order-card-title .close-btn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-order-card-title .close-btn:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.curret-hide {
    display: none;
}

.receipt-coin-image img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 15px;
    display: block;
}

.receipt-coin {
    display: flex;
    align-items: center;
}

.receipts-inner {
    display: flex;
    align-items: center;
}

.receipts-inner .icon {
    margin-left: 15px;
}

.navigation-card {
    width: 200px;
    margin-right: 20px;
}

.dashboard-card.flex-grow {
    flex-grow: 1;
}

.navigation-card-li.custom-padding a {
    color: #000;
    text-decoration: none;
}

.navigation-card-li-inner {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.navigation-card-li {
    border-bottom: 1px solid #dedede;
}

.navigation-card-li:hover {
    background-color: #efefef;
}

.navigation-card-li-inner .icon {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.navigation-card-li-inner .icon.circled {
    border: 1px solid #000;
}

.dashboard-content-main-inner.multi-card {
    display: flex;
}

.wallet-stats-graph-list-title-text .text-badge {
    position: absolute;
    top: -8px;
    right: -24px;
    height: 20px;
    width: 20px;
    background: #000;
    color: #ffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 10px;
}

.wallet-stats-graph-list-li-text .text-badge {
    position: absolute;
    top: -8px;
    right: -20px;
    height: 20px;
    width: 20px;
    background: #000000;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 12px;
}

.postitio-relative {
    position: relative;
}

.dashboard-side-bar .dahboard-title {
    margin: 0;
    padding: 15px 0;
    padding-bottom: 25px;
}

.cart-order-card-action.bordered {
    border-top: 1px solid #dedede;
    padding: 0px;
}

.preffered-card-icon {
    height: 30px;
    width: 30px;
    background: #28a745;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    color: #fff;
}

button.w-full {
    width: 49%;
}

.cart-order-card-action-inner {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.cart-order-card-items-li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: column;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
}

.package-cart-information {
    display: flex;
    justify-content: space-between;
}

.package-cart-information-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.existing-card-status {
    width: 150px;
    text-align: center;
}

.tier-div {
    display: none;
}

.tier-div.active {
    display: block;
}

canvas#history-graph {
    height: 350px !important;
    width: 100% !important;
}

.trasaction-filter-button .icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.trasaction-filter-button .icon:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.trasaction-filter-button {
    position: relative;
}

.trasaction-filter-box {
    position: absolute;
    top: 35px;
    background: #fff;
    border-radius: 4px;
    /* padding: 15px; */
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    right: 0;
    z-index: 1;
    display: none;
}

.trasaction-filter-box-title {
    padding: 10px;
    border-bottom: 1px solid #dedede;
}

.trasaction-filter-box-form {
    padding: 15px;
    font-weight: 400;
}

.trasaction-filter-box-form-input {
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.trasaction-filter-apply button {
    padding: 3px 7px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
}

.trasaction-filter-apply {
    text-align: right;
}

.trasaction-filter-box-form-field {
    font-size: 12px;
}



.existing-card-list-ul.show-cards li p {
    margin: 0;
    padding: 15px;
}

/* Responsive */

@media only screen and (max-width: 990px) {
    .dasboard-card-grid {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .dasboard-card-col-text {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .add-card-options-li label {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
    }

    .existing-card-col {
        width: 100%;
    }

    .existing-card-col .add-card-html {
        flex-grow: 1;
    }

    .cart-table-list-package-quantity {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .wallet-earning-stats-main-box {
        width: 100%;
    }
    .wallet-earning-stats-main {
        flex-direction: column;
    }
    .wallet-stats-graph-single {
        width: 100%;
    }

    .wallet-stats-graph-all-graphs {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-card-add-card-main {
        flex-direction: column;
    }

    .add-card-options-li label {
        display: block;
        margin-bottom: 15px;
    }

    .add-card-action {
        text-align: center;
    }

    .coin-packs-card {
        width: 48%;
    }

    .cart-container-inner {
        flex-direction: column;
    }

    .cart-order-outer {
        width: 100%;
        margin-left: 0;
    }

    .cart-table-list-package-quantity {
        flex-direction: row;
    }
}

@media only screen and (max-width: 560px) {
    .dahboard-card-title-bar.multi {
        flex-direction: column;
    }

    .dahboard-card-title-bar .statics .up, .dahboard-card-title-bar .statics .down {
        margin-left: 0px;
    }

    .dahboard-card-title-bar .statics .up{
        margin-right: 15px;
    }

    .dahboard-card-title-bar .statics {
        margin-top: 10px;
    }

    .dahboard-card {
        width: 100%;
    }

    .custom-flex-01 {
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {
    .cart-table-list-package-quantity {
        align-items: flex-start;
        flex-direction : column;
    }
}

@media only screen and (max-width: 400px) {
    .wallet-stats-graph-list-li {
        flex-direction: column;
    }

    .card-field-single-row.rows {
        display: flex;
        flex-direction: column;
    }

    .coin-packs-card {
        width: 100%;
    }
}











